<%-include('../partials/adminheader')-%>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order List </h2>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div>
                    <input type="text" placeholder="Search order ID" class="form-control bg-white">
                </div>
            </div>
            <div class="card mb-4">
                <!-- <header class="card-header">
                    <div class="row gx-3">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <input type="text" placeholder="Search..." class="form-control">
                        </div>
                        <div class="col-lg-2 col-6 col-md-3">
                            <select class="form-select">
                                <option>Status</option>
                                <option>Active</option>
                                <option>Disabled</option>
                                <option>Show all</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-6 col-md-3">
                            <select class="form-select">
                                <option>Show 20</option>
                                <option>Show 30</option>
                                <option>Show 40</option>
                            </select>
                        </div>
                    </div>
                </header> card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover" id="order-list">
                            <thead>
                                <tr>
                                    <th scope="col">User</th>
                                    <th scope="col">OrderId</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">PaymentMethod</th>
                                    <th scope="col">Status</th>
                                
                                    <th scope="col" class="text-end"> Action </th>
                                </tr>
                            </thead>
                            <tbody id="order-list">
                                <% orders.forEach (function(order) {%>
                                <tr>
                                    <td><%=order.userDetails[0].name%></td>
                                    <td><%=order.orderId %></td>
                                    <td><%=order.orderDate.toISOString().split('T')[0]  %></td>
                                    <td>₹ <%=order.totalAmount %></td>
                                    <td><%=order.paymentMethod %></td>
                                    <td> 
                                        <% if(order.orderStatus=='placed' ) {%>
                                            <span
                                                class="badge rounded-pill alert-success text-success">
                                                <%= order.orderStatus %>
                                            </span>
                                            <% }else if (order.orderStatus=='Cancelled' )  { %>
                                                <span
                                                    class="badge rounded-pill alert-danger text-danger">
                                                    <%= order.orderStatus %>
                                                </span>
                                                <% }else{ %>
                                                    <span
                                                        class="badge rounded-pill alert-warning text-warning">
                                                        <%= order.orderStatus %>
                                                    </span>

                                                 <% } %>
                                        
                                    </td>
                                    <!-- <td><span class="badge rounded-pill alert-warning"></span></td> -->
                                    <!-- <td>03.12.2020</td> -->
                                    <td class="text-end">
                                        <a href="/admin/orderDetailadmin/<%=order._id %>" class="btn btn-md rounded font-sm">Detail</a>
                                        <!-- <div class="dropdown">
                                            <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="">View detail</a>
                                                <a class="dropdown-item" href="#">Edit info</a>
                                                <a class="dropdown-item text-danger" href="#">Delete</a>
                                            </div>
                                        </div> -->
                                         <!-- dropdown //end -->
                                    </td>
                                </tr>
                                <% }) %>
                               
                            </tbody>
                        </table>
                    </div> <!-- table-responsive //end -->
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            
        </section> <!-- content-main end// -->
        <%-include('../partials/adminfooter')-%>

