<head>
  <style>
    	body {
         background-image: url('/img/login-page-background.jpg');
        background-position:top center; /* Adjust the horizontal and vertical position of the image */
         background-size: cover; /* Scale the image to cover the entire background */
        color: #fcfdff;
    
    }
    span {
         display: block; /* Ensures the span takes up the full width */
         color: red; /* Sets the text color to red */
         font-weight: bold; /* Makes the text bold */
         margin-top: 0px;
         font-size: 16px; /* Adds a margin at the top for spacing */
      }
  
  @media screen and (max-width: 767px) {
      h1 {
        font-size: 20px;
      }

      h4 {
        font-size: 16px;
      }

      .form-label {
        font-size: 14px;
      }

      .form-control {
        height: 30px;
        font-size: 14px;
      }

      .error-message {
        font-size: 12px;
      }

      .submit-button {
        height: 30px;
        font-size: 14px;
      }
     
    }

  </style>
</head>
<%-include('../partials/userheader')-%>
 <!-- Offcanvas Menu Begin -->
 <div class="offcanvas-menu-overlay"></div>
 <div class="offcanvas-menu-wrapper">
     <div class="offcanvas__option">
         <div class="offcanvas__links">
             <% var username=username || '' ; %>
             <% if (!username) { %>
                 <a href="/login">Login</a>
                 <a href="/signup">Sign up</a>
             <% } %>
         </div>
         <% if(username){ %>
             <div class="header__top__hover">
                 <span class="text-dark text-brand font-weight-bold"> <%= username %>   <i class="arrow_carrot-down text-dark" ></i></span>
                 <ul>
                     <li><a href="/userProfile"class="text-dark" >Account</a ></li>
                     <li><a href="/logout"class="text-dark" >Logout</a ></li>
                     
                 </ul>
             </div>
          <% } %> 
      
         
     </div>
     <div class="offcanvas__nav__option">
   
         
         <a href="/wishlist"><img src="/img/icon/heart.png" alt="">
             <% if (username&&wishlistcount) { %>
                 <div class="tip">
               <span id="wishlistCount">
                 <%= wishlistcount %>
               </span>  
               </div>
               <% } %>
         <a href="/shoppingcart"><img src="/img/icon/cart.png" alt=""> 
             <% if (username&&cartCount) { %>
                 <div class="tip">
               <span id="cartCount">
                 <%= cartCount %>
               </span>  
               </div>
               <% } %>
              
         </a>
      
         <div>
            
             
         </div>
        
     </div>
     <div id="mobile-menu-wrap"></div>
     
     <div class="offcanvas__text">
         <p>Free shipping, 30-day return or refund guarantee.</p>
     </div>
 </div>
 <!-- Offcanvas Menu End -->
<section class="breadcrumb-option-extra p-0">
  <div class="container ">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb__text text-light">
          <h4 class=" text-light">Login</h4>
          <div class="breadcrumb__links">
            <a href="/home" class=" text-light">Home</a>
            <span>Login</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<body>
  <div role="main" class="main shop py-4 mt-5">
   
      <div class="col-md-6 col-lg-5 mt-5 mx-auto">
        <h1 class="font-weight-bold text-5 mb-0 mt-1 text-center text-light">Cotton Candy</h1>
        <h4 class="text-5 mb-0 mt-5 text-center text-light">Enter your registered mobile number</h4>
        <% var msg=msg || '' ; %>
        <% if (msg) { %>
        <span class="text-danger font-weight-bold text-center">
          <%= msg %>
        </span>
        <% } %>

        <form action="/checkotpforgot" id="signup-form" method="post">
          <div class="row">
            <div class="form-group col">
              <label class="form-label text-light text-3 mt-3">Mobile no <span
                class="text-color-danger">*</span></label>
             
              <input id="phonenumber" type="text" value="" name="phonenumber" class="form-control form-control-lg text-4" />
              <span class="text-danger d-none" style="font-size: 12px; margin-left: 10px;" id="phonenumberError"></span>
            </div>
           
          </div>

          <div class="row">
            <div class="form-group col">
              <button type="submit"
                class="btn btn-dark btn-modern w-100 text-uppercase rounded-0 font-weight-bold text-3 py-3"
                data-loading-text="Loading...">
                Get OTP
              </button>
            </div>
          </div>
        </form>
      </div>
 
  </div>
</body>

  
    <script>
      const loginForm = document.getElementById("signup-form");

     
      const mobile = document.getElementById("phonenumber");
    
      //   const password2 = document.getElementById("password2")

      const mobileRegex = /^\d{10}$/;
    

      loginForm.addEventListener('submit', (e) => {




        if (mobile.value === "" || mobile.value === null) {
          e.preventDefault();
          document.getElementById("phonenumberError").classList.remove('d-none');
          document.getElementById("phonenumberError").innerHTML = "Phone number must be filled!"
        } else if (!mobile.value.match(mobileRegex)) {
          e.preventDefault();
          document.getElementById("phonenumberError").classList.remove('d-none');
          document.getElementById("phonenumberError").innerHTML = "Invalid Phone Number";
        } else if (mobile.value.match(mobileRegex)) {
          document.getElementById("phonenumberError").classList.remove('d-none');
          document.getElementById("phonenumberError").innerHTML = ""
        }
       
      })
    </script>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->


</html>