<% var username=username || '' ; %>
<% var Wishlistcount=Wishlistcount|| 0 ; %>
<% var cartCount=cartCount|| 0 ; %>
<% if (username) { %>
    <%-include('../partials/userheader',{username,Wishlistcount,cartCount})-%>

 <% }else{%>
    <%-include('../partials/userheader')-%>
<% } %>
 
<style>
    .description{
    color: #818181;
    font-size: 12px;
    line-height: 1.5; 
    margin-bottom: 0px;
  }
  .product__item__text  span {
    color: #b7b7b7;
    font-size: 14px;
    font-weight: 400px;
    margin-left: 0px;
    text-decoration: line-through;
  }
  span.price{
      font-weight:bold ;
      text-decoration: none;
      color: #000000;
      font-size: 18px;
    }
</style>


<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <% var username=username || '' ; %>
                <% if (!username) { %>
                    <a href="/login">Login</a>
                    <a href="/signup">Sign up</a>
                <% } %>
            </div>
            <% if(username){ %>
                <div class="header__top__hover">
                    <span class="text-dark text-brand font-weight-bold"> <%= username %>   <i class="arrow_carrot-down text-dark" ></i></span>
                    <ul>
                        <li><a href="/userProfile"class="text-dark" >Account</a ></li>
                        <li><a href="/logout"class="text-dark" >Logout</a ></li>
                        
                    </ul>
                </div>
             <% } %> 
         
            
        </div>
        <div class="offcanvas__nav__option">
      
            
            <a href="/wishlist"><img src="/img/icon/heart.png" alt="">
                <% if (username&&wishlistcount) { %>
                    <div class="tip">
                  <span id="wishlistCount">
                    <%= wishlistcount %>
                  </span>  
                  </div>
                  <% } %>
            <a href="/shoppingcart"><img src="/img/icon/cart.png" alt=""> 
                <% if (username&&cartCount) { %>
                    <div class="tip">
                  <span id="cartCount">
                    <%= cartCount %>
                  </span>  
                  </div>
                  <% } %>
                 
            </a>
         
            <div>
               
                
            </div>
           
        </div>
        <div id="mobile-menu-wrap"></div>
        
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="hero__slider owl-carousel">
            <div class="hero__items set-bg" data-setbg="img/hero/hero-1.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <h6>Summer Collection</h6>
                                <h2>Fall - Winter Collections 2023</h2>
                                <p>A specialist label creating luxury essentials. Ethically crafted with an unwavering
                                commitment to exceptional quality.</p>
                                <a href="#" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                                <div class="hero__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__items set-bg" data-setbg="img/hero/hero-2.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <h6>Summer Collection</h6>
                                <h2>Fall - Winter Collections 2023</h2>
                                <p>A specialist label creating luxury essentials. Ethically crafted with an unwavering
                                commitment to exceptional quality.</p>
                                <a href="#" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                                <div class="hero__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Banner Section Begin -->
    <section class="banner spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 offset-lg-4">
                    <div class="banner__item">
                        <div class="banner__item__pic">
                            <img src="img/banner/banner-1.jpg" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2>Clothing Collections 2023</h2>
                            <a href="#">Shop now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="banner__item banner__item--middle">
                        <div class="banner__item__pic">
                            <img src="img/banner/banner-2.jpg" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2>Accessories</h2>
                            <a href="#">Shop now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="banner__item banner__item--last">
                        <div class="banner__item__pic">
                            <img src="img/banner/banner-3.jpg" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2>Shoes Spring 2023</h2>
                            <a href="#">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="filter__controls">
                        <!-- <li class="active" data-filter="*">Best Sellers</li> -->
                        <li data-filter=".new-arrivals">New Arrivals</li>
                        <!-- <li data-filter=".hot-sales">Hot Sales</li> -->
                    </ul>
                </div>
            </div> 
            <div class="row product__filter">

                <% products.forEach(function(product) { %>
                <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                    <div class="product__item">
                        <a href="/productdetail/<%=product._id%>">
                          <div class="product__item__pic set-bg">
                            <img src="uploads/<%= product.productimage[3]%>" />
                            <% if(product.productoffer){%>
                              <span class="label">offer</span>
                            <% } %>  
                            <ul class="product__hover">
                           
                              <li>
                                <a
                                  href="#"
                                  data-value="<%= product._id%>"
                                  class="add-produtToWishlist"
                                  ><img src="img/icon/heart.png" alt="" />
                                </a>
                              </li>
                              <li class="cartimg">
                                <a
                                  type="button"
                                  data-pro="<%=product._id %>"
                                  class="cartIncrement add-cart"
                                  ><img src="img/shopping-cart.png" alt="" />
                                </a>
                              </li>
                            
                            </ul>
                          </div>
                        </a>
          
                        <div class="product__item__text">
                          <h5><%=product.productname %></h5>
          
                          <div >
                            
                             <span class="price">&#x20B9; <%=product.productpromotionalprice %></span> 
                          
                              <span > &#x20B9; <%=product.productregularprice %> </span>
                           
                          </div>
                         
                            <p class="description"> <%=product.productdescription %></p>
                          
                             <% if (product.productquantity>0) { %>
                                                  <div
                                                  class="badge  text-success">
                                                  In stock  
                                              </div>
                                              <% } else { %>
                                                 <div
                                                  class="badge  text-danger">
                                                 Out of stock
                                             </div>
                                              <% } %>
          
                        </div>
                      </div>
                </div>
                <% }) %>
                
      
            </div>
        </div>
    </section>
    <!-- Product Section End -->

    <!-- Categories Section Begin -->
    <section class="categories spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="categories__text">
                        <h2>Clothings Hot <br /> <span>Shirt Collection</span> <br /> Jeans</h2>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="categories__hot__deal">
                        <img src="img/3.png" alt="">
                        <div class="hot__deal__sticker">
                            <span>Sale Of</span>
                            <h5>₹ 999</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-1">
                    <div class="categories__deal__countdown">
                        <span>Deal Of The Week</span>
                        <h2>Multi-pocket Chest Bag Black</h2>
                        <div class="categories__deal__countdown__timer" id="countdown">
                            <div class="cd-item">
                                <span>3</span>
                                <p>Days</p>
                            </div>
                            <div class="cd-item">
                                <span>1</span>
                                <p>Hours</p>
                            </div>
                            <div class="cd-item">
                                <span>50</span>
                                <p>Minutes</p>
                            </div>
                            <div class="cd-item">
                                <span>18</span>
                                <p>Seconds</p>
                            </div>
                        </div>
                        <a href="#" class="primary-btn">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->

    <!-- Instagram Section Begin -->
    <!-- <section class="instagram spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="instagram__pic">
                        <div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram-1.jpg"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram-2.jpg"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram-3.jpg"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram-4.jpg"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram-5.jpg"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="img/instagram/instagram-6.jpg"></div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="instagram__text">
                        <h2>Instagram</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                        <h3>#Male_Fashion</h3>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- Instagram Section End -->

    <!-- Latest Blog Section Begin -->
    <section class="latest spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Latest News</span>
                        <h2>Fashion New Trends</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="img/blog/blog-1.jpg"></div>
                        <div class="blog__item__text">
                            <span><img src="img/icon/calendar.png" alt=""> 16 February 2020</span>
                            <h5>What Curling Irons Are The Best Ones</h5>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="img/blog/blog-2.jpg"></div>
                        <div class="blog__item__text">
                            <span><img src="img/icon/calendar.png" alt=""> 21 February 2020</span>
                            <h5>Eternity Bands Do Last Forever</h5>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="img/blog/blog-3.jpg"></div>
                        <div class="blog__item__text">
                            <span><img src="img/icon/calendar.png" alt=""> 28 February 2020</span>
                            <h5>The Health Benefits Of Sunglasses</h5>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Latest Blog Section End -->

    <%-include('../partials/userfooter')-%>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function () {
          $(document).on("click", ".cartIncrement", function () {
            console.log("vvvvvvvvvvv");
            // let count = document.querySelector('.cart-count')
            // let val =parseInt(count.textContent)
            let data = $(this).data("pro");
            console.log(data);
            $.ajax({
              url: "/addToCart",
              data: {
                productid: data,
              },
              method: "post",
              success: (response) => {
                if (response.response) {
                  if (response.limit) {
                    Swal.fire(
                      "sorry!",
                      response.msg, 
                      "warning"
                    );
                  } else {
                    // document.querySelector('.cart-count').textContent=val+1
                    Swal.fire({
                      position: "center",
                      icon: "success",
                      title: "Product added to cart",
                      showConfirmButton: false,
                      timer: 1600,
                    }).then(() => {
                      location.reload();
                    });
                  }
                } else {
                  Swal.fire({
                    position: "center",
                    icon: "alert",
                    title: "Please Login ",
                    showConfirmButton: false,
                    timer: 1600,
                  });
                  setTimeout(() => {
                    window.location = "/login";
                  }, 1700);
                }
              },
            });
          });
        });
      
      
        $(document).ready(function () {
          $(document).on("click", ".add-produtToWishlist", function () {
           
            const productId = $(this).data("value");
            console.log("clicked");
            console.log("hjjjjjjjjjj", productId);
            $.ajax({
              url: "/add-to-wishList",
              type: "post",
              data: { productId: productId },
            })
              .done((res) => {
                console.log("ssss");
                console.log(res);
      
                if (res.response == true) {
                  Swal.fire({
                    position: "center",
                    icon: "success",
                    title: "Product added to Wishlist",
                    showConfirmButton: false,
                    timer: 1600,
                  }).then(() => {
                    location.reload();
                  });
                } else {
                  if (res.message === "Product already exists in the wishlist.") {
                    Swal.fire({
                      position: "center",
                      icon: "error",
                      title: "Product already added to Wishlist",
                      showConfirmButton: false,
                      timer: 1600,
                    });
                  } else {
                    Swal.fire({
                      position: "center",
                      icon: "alert",
                      title: "Login needed",
                      showConfirmButton: false,
                      timer: 1600,
                    });
                    setTimeout(() => {
                      window.location = "/login";
                    }, 1700);
                  }
                }
              })
              .fail((err) => {
                console.log(err);
              });
          });
        });
      </script>