<style>
  p,
  li,
  a {
    font-size: 14px;
  }

  /* GRID */
  .eleven {
    width: 91.53%;
  }
  .one {
    width: 6.866%;
  }
  .pagination {
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .pagination ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .p1 a:hover {
    background-color: #000000;
    border-radius: 40%;
    color: #fff;
  }
  .pagination a {
    display: inline-block;
    padding: 10px 18px;
    color: #222;
  }

  /* ONE */

  .p1 a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    text-align: center;
  }

  .p1 a.is-active {
    background-color: #000000;
    border-radius: 100%;
    color: #fff;
  }

  .p11 a {
    background-color: #000000;
    margin: auto 5px;
    color: #fff;
    border: 3px solid #000000;
    position: relative;
  }
  .p11 a:hover {
    background-color: #051a0d;
    color: #fff;
    border: 3px solid #cef8df;
  }
  .p11 a:first-of-type:before {
    content: "";
    position: absolute;
    top: -3px;
    left: -25px;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
    border-right: 22px solid #000000;
  }

  .p11 a:last-of-type:after {
    content: "";
    position: absolute;
    top: -3px;
    right: -25px;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
    border-left: 22px solid #000000;
  }

  .p11 .is-active {
    font-weight: bold;
  }
  .product__item__text  span {
    color: #b7b7b7;
    font-size: 14px;
    font-weight: 400px;
    margin-left: 0px;
    text-decoration: line-through;
  }
  .d-flex {
    align-items: baseline;
  }
  .description{
    color: #818181;
    font-size: 12px;
    line-height: 1.5; 
    margin-bottom: 0px;
  }


  
    p,
    li,
    a {
      font-size: 14px;
    }
  
    /* GRID */
    .eleven {
      width: 91.53%;
    }
    .one {
      width: 6.866%;
    }
    .pagination {
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
    }
    .pagination ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
    .p1 a:hover {
      background-color: #000000;
      border-radius: 40%;
      color: #fff;
    }
    .pagination a {
      display: inline-block;
      padding: 10px 18px;
      color: #222;
    }
  
    /* ONE */
  
    .p1 a {
      width: 40px;
      height: 40px;
      line-height: 40px;
      padding: 0;
      text-align: center;
    }
  
    .p1 a.is-active {
      background-color: #000000;
      border-radius: 100%;
      color: #fff;
    }
  
    .p11 a {
      background-color: #000000;
      margin: auto 5px;
      color: #fff;
      border: 3px solid #000000;
      position: relative;
    }
    .p11 a:hover {
      background-color: #051a0d;
      color: #fff;
      border: 3px solid #cef8df;
    }
    .p11 a:first-of-type:before {
      content: "";
      position: absolute;
      top: -3px;
      left: -25px;
      border-top: 22px solid transparent;
      border-bottom: 22px solid transparent;
      border-right: 22px solid #000000;
    }
  
    .p11 a:last-of-type:after {
      content: "";
      position: absolute;
      top: -3px;
      right: -25px;
      border-top: 22px solid transparent;
      border-bottom: 22px solid transparent;
      border-left: 22px solid #000000;
    }
  
    .p11 .is-active {
      font-weight: bold;
    }
    span.price{
      font-weight:bold ;
      text-decoration: none;
      color: #000000;
      font-size: 18px;
    }
</style>
<% var username=username || '' ; %> <% var Wishlistcount=Wishlistcount|| 0 ; %>
<% var cartCount=cartCount|| 0 ; %> <% if (username) { %>
<%-include('../partials/userheader',{username,Wishlistcount,cartCount})-%> <%
}else{%> <%-include('../partials/userheader')-%> <% } %>

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb__text">
          <h4>Shop</h4>
          <div class="breadcrumb__links">
            <a href="/home">Home</a>
            <span>Shop</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shop Section Begin -->
<section class="shop spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="shop__sidebar">
          <div class="shop__sidebar__search">
            <form action="/search" method="get">
              <input type="text" name="query" placeholder="Search..." />
              <button type="submit"><span class="icon_search"></span></button>
            </form>
          </div>
          <div class="shop__sidebar__accordion">
            <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-heading">
                  <a data-toggle="collapse" data-target="#collapseOne"
                    >Categories</a
                  >
                </div>
                <div
                  id="collapseOne"
                  class="collapse show"
                  data-parent="#accordionExample"
                >
                  <div class="card-body">
                    <div class="shop__sidebar__categories">
                      <ul class="nice-scroll">
                        <% categories.forEach(function(category) { %>
                        <li>
                          <input
                            type="checkbox"
                            class="checkBox-input category-checkbox"
                            value="<%=category.categoryname%>"
                            id="category-<%=category.categoryname%>"
                            name="category"
                          />
                          <a href="/category/<%=category.categoryname%>">
                            <%=category.categoryname %>
                          </a>
                        </li>
                        <% }); %>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-heading">
                  <a data-toggle="collapse" data-target="#collapseThree"
                    >Filter Price</a
                  >
                </div>
                <div
                  id="collapseThree"
                  class="collapse show"
                  data-parent="#accordionExample"
                >
                  <div class="card-body">
                    <div class="shop__sidebar__price">
                      <ul>
                        <li>
                          <input
                            type="checkbox"
                            class="checkBox-input"
                            value="100-500"
                            id="pricerange1"
                            name="category"
                          />
                          <a href="#">₹100 - ₹500</a>
                        </li>
                        <li>
                          <input
                            type="checkbox"
                            class="checkBox-input"
                            value="500-1000"
                            id="pricerange2"
                            name="category"
                          />
                          <a href="#">₹500 - ₹1000</a>
                        </li>
                        <li>
                          <input
                            type="checkbox"
                            class="checkBox-input"
                            value="1000-1500"
                            id="pricerange3"
                            name="category"
                          />
                          <a href="#">₹1000- ₹1500</a>
                        </li>
                        <li>
                          <input
                            type="checkbox"
                            class="checkBox-input"
                            value="1500-2000"
                            id="pricerange4"
                            name="category"
                          />
                          <a href="#">₹1500- ₹2500</a>
                        </li>
                        <li>
                          <input
                            type="checkbox"
                            class="checkBox-input"
                            value="2000-2500"
                            id="pricerange5"
                            name="category"
                          />
                          <a href="#">₹2500 -₹4000</a>
                        </li>
                        <li>
                          <input
                            type="checkbox"
                            class="checkBox-input"
                            value="2500-3000"
                            id="pricerange6"
                            name="category"
                          />
                          <a href="#">₹4000+</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-heading">
                  <a data-toggle="collapse" data-target="#collapseFour">Size</a>
                </div>
                <div
                  id="collapseFour"
                  class="collapse show"
                  data-parent="#accordionExample"
                  >
                  <div class="card-body">
                    <div class="shop__sidebar__size">
                      <label for="S"
                        >S
                        <input type="radio" id="S" value="S" name="size" />
                      </label>
                      <label for="M"
                        >M
                        <input type="radio" id="M" value="M" name="size" />
                      </label>
                      <label for="L"
                        >L
                        <input type="radio" id="L" value="L" name="size" />
                      </label>
                      <label for="XL"
                        >XL
                        <input type="radio" id="XL" value="XL" name="size" />
                      </label>
                      <label for="XXL"
                        >XXL
                        <input type="radio" id="XXL" value="XXL" name="size" />
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-heading">
                  <a data-toggle="collapse" data-target="#collapseFive"
                    >Colors</a
                  >
                </div>
                <div
                  id="collapseFive"
                  class="collapse show"
                  data-parent="#accordionExample"
                >
                  <div class="card-body">
                    <div class="shop__sidebar__color">
                      <ul>
                        <li>
                          <input
                            type="checkbox"
                            class="checkBox-input"
                            value="black"
                            id="balck"
                            name="balck"
                          />
                          balck
                        </li>
                        <li>
                          <input
                            type="checkbox"
                            class="checkBox-input"
                            value="blue"
                            id="pricerange2"
                            name="category"
                          />
                          blue
                        </li>
                        <li>
                          <input
                            type="checkbox"
                            class="checkBox-input"
                            value="white"
                            id="pricerange3"
                            name="category"
                          />
                          white
                        </li>
                        <li>
                          <input
                            type="checkbox"
                            class="checkBox-input"
                            value="green"
                            id="pricerange4"
                            name="category"
                          />
                          green
                        </li>
                        <li>
                          <input
                            type="checkbox"
                            class="checkBox-input"
                            value="red"
                            id="pricerange5"
                            name="category"
                          />
                          red
                        </li>
                        <li>
                          <input
                            type="checkbox"
                            class="checkBox-input"
                            value="yellow"
                            id="pricerange6"
                            name="category"
                          />
                          yellow
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

                <a  href="" class="primary-btn"  id="filterButton">
                  Filter
                </a>
               
              
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="shop__product__option">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="shop__product__option__left"></div>
            </div>
          </div>
        </div>
        <div id="productList" class="row">
          <!-- Existing products will be dynamically appended here -->
        </div>
        <div id="productListCurrent" class="row">
          <% products.forEach(function(product) { %>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="product__item">
              <a href="/productdetail/<%=product._id%>">
                <div class="product__item__pic set-bg">
                  <img src="uploads/<%= product.productimage[3]%>" />
                  <% if(product.productoffer){%>
                    <span class="label">offer</span>
                  <% } %>  
                  <ul class="product__hover">
                 
                    <li>
                      <a
                        href="#"
                        data-value="<%= product._id%>"
                        class="add-produtToWishlist"
                        ><img src="img/icon/heart.png" alt="" />
                      </a>
                    </li>
                    <li class="cartimg">
                      <a
                        type="button"
                        data-pro="<%=product._id %>"
                        class="cartIncrement add-cart"
                        ><img src="img/shopping-cart.png" alt="" />
                      </a>
                    </li>
                  
                  </ul>
                </div>
              </a>

              <div class="product__item__text">
                <h5><%=product.productname %></h5>

                <div >
                  
                   <span class="price">&#x20B9; <%=product.productpromotionalprice %></span> 
                
                    <span > &#x20B9; <%=product.productregularprice %> </span>
                 
                </div>
               
                  <p class="description"> <%=product.productdescription %></p>
                
                   <% if (product.productquantity>0) { %>
                                        <div
                                        class="badge  text-success">
                                        In stock  
                                    </div>
                                    <% } else { %>
                                       <div
                                        class="badge  text-danger">
                                       Out of stock
                                   </div>
                                    <% } %>

              </div>
            </div>
          </div>
          <% }); %>
        </div>
        <div class="row">
                                            <div class="col-lg-12">
                                             
                                              <div class="pagination p1 mx-auto">
    <ul>
        <% if (pagination.page > 1) { %>
            <a href="shop?count=<%= pagination.count %>&page=<%= pagination.page-1 %>"><i class="fa fa-angle-left"></i></a>
        <% } %>
        
      <% if (locals.pagination.page > 2) { %>
      <!-- <a href="?count=<%= pagination.count %>&page=<%= pagination.page-1 %>"><li><</li></a> -->
      <% } %>
      <% if (pagination.page > 1) { %>
      <a href="?count=<%= pagination.count %>&page=<%= pagination.page-1 %>"><li><%= pagination.page-1 %></li></a>
      <% } %>
      <a class="is-active" href="#"><li><%= pagination.page %></li></a>
      <% for (let i = pagination.page+1; i <= Math.min(pagination.totalPages,pagination.page+6); i++) { %>
      <a href="?count=<%= pagination.count %>&page=<%= i %>"><li><%= i %></li></a>
      <% } %>
      <% if (pagination.page < pagination.totalPages-1) { %>
      <!-- <a href="?count=<%= pagination.count %>&page=<%= pagination.page+1 %>"><li>></li></a> -->
      <% } %>

      <% if (pagination.page < pagination.totalPages) { %>
        <a href="shop?count=<%= pagination.count %>&page=<%= pagination.page+1 %>"><i class="fa fa-angle-right"></i></a>
    <% } %>
     
    </ul>
  </div>

                                            </div>
                                        </div>
       </div>
       
    </div>
  </div>
</section>
<!-- Shop Section End -->



<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/sweetalert@2"></script>
<%-include('../partials/userfooter')-%>
//Filter





<script>
  $(document).ready(function () {
    $(document).on("click", ".cartIncrement", function () {
      console.log("vvvvvvvvvvv");
      // let count = document.querySelector('.cart-count')
      // let val =parseInt(count.textContent)
      let data = $(this).data("pro");
      console.log(data);
      $.ajax({
        url: "/addToCart",
        data: {
          productid: data,
        },
        method: "post",
        success: (response) => {
          if (response.response) {
            if (response.limit) {
              Swal.fire(
                "sorry!",
                response.msg, 
                "warning"
              );
            } else {
              // document.querySelector('.cart-count').textContent=val+1
              Swal.fire({
                position: "center",
                icon: "success",
                title: "Product added to cart",
                showConfirmButton: false,
                timer: 1600,
              }).then(() => {
                location.reload();
              });
            }
          } else {
            Swal.fire({
              position: "center",
              icon: "alert",
              title: "Please Login ",
              showConfirmButton: false,
              timer: 1600,
            });
            setTimeout(() => {
              window.location = "/login";
            }, 1700);
          }
        },
      });
    });
  });


  $(document).ready(function () {
    $(document).on("click", ".add-produtToWishlist", function () {
     
      const productId = $(this).data("value");
      console.log("clicked");
      console.log("hjjjjjjjjjj", productId);
      $.ajax({
        url: "/add-to-wishList",
        type: "post",
        data: { productId: productId },
      })
        .done((res) => {
          console.log("ssss");
          console.log(res);

          if (res.response == true) {
            Swal.fire({
              position: "center",
              icon: "success",
              title: "Product added to Wishlist",
              showConfirmButton: false,
              timer: 1600,
            }).then(() => {
              location.reload();
            });
          } else {
            if (res.message === "Product already exists in the wishlist.") {
              Swal.fire({
                position: "center",
                icon: "error",
                title: "Product already added to Wishlist",
                showConfirmButton: false,
                timer: 1600,
              });
            } else {
              Swal.fire({
                position: "center",
                icon: "alert",
                title: "Login needed",
                showConfirmButton: false,
                timer: 1600,
              });
              setTimeout(() => {
                window.location = "/login";
              }, 1700);
            }
          }
        })
        .fail((err) => {
          console.log(err);
        });
    });
  });
</script>
<script>
  $(document).ready(function () {
    // Filter button click event
    $("#filterButton").click(function (event) {
      event.preventDefault(); // Prevent the default form submission

      // Retrieve the selected values for categories, price ranges, and colors
      var selectedCategories = getSelectedValues(
        '.shop__sidebar__categories input[type="checkbox"]:checked'
      );
      var selectedPriceRanges = getSelectedValues(
        '.shop__sidebar__price input[type="checkbox"]:checked'
      );
      var selectedColors = getSelectedValues(
        '.shop__sidebar__color input[type="checkbox"]:checked'
      );
      var radioButtons = document.querySelectorAll(
        '.shop__sidebar__size input[type="radio"]'
      );
      var selectedSize = "";

      for (var i = 0; i < radioButtons.length; i++) {
        if (radioButtons[i].checked) {
          selectedSize = radioButtons[i].value;
          break;
        }
      }

      console.log(selectedSize);

      // Create the data object to send via AJAX
      var data = {
        categories: selectedCategories,
        priceRanges: selectedPriceRanges,
        colors: selectedColors,
        size: selectedSize,
      };

      console.log(data);

      // Send the selected values to the server-side for further processing
      $.ajax({
        url: "/productFiltering", // Replace with the URL of your server-side script
        type: "POST",
        data: data,
        success: function (response) {
          // Handle the response from the server
          console.log("Filtered results received:", response);
          // Update the UI with the filtered results
          var productList = $("#productListCurrent ");
          productList.empty(); // Empty the existing products

          // Check if the response contains filtered products
          if (response.length > 0) {
            // Loop through the filtered products and append them to the product list
            response.forEach(function (product) {
              var productHtml = `
                <div class="col-lg-4 col-md-6 col-sm-6">
                  <div class="product__item">
                    <a href="/productdetail/${product._id}">
                      <div class="product__item__pic set-bg">
                        <img src="uploads/${product.productimage[3]}" alt="">
                        ${product.productoffer ? '<span class="label">offer</span>' : ''}
                        <ul class="product__hover">
                          <li><a href="#" data-value="${product._id}" class="add-produtToWishlist"><img src="img/icon/heart.png" alt=""></a></li>
                          <li class="cartimg"><a type="button" data-pro="${product._id}" class="cartIncrement add-cart"><img src="img/shopping-cart.png" alt=""></a></li>
                        </ul>
                      </div>
                    </a>
                    <div class="product__item__text">
                      <h5>${product.productname}</h5>
                      <div>
                         <span class="price">&#x20B9;${product.productpromotionalprice}</span>
                         <span>&#x20B9;${product.productregularprice}</span>
                      </div>
                      <p class="description">${product.productdescription}</p>
                       ${product.productquantity > 0 ? '<div class="badge text-success">In stock</div>' : '<div class="badge text-danger">Out of stock</div>'}
                    </div>
                  </div>
                </div>
              `;

              productList.append(productHtml);
            });
          } else {
            
            var noProductsHtml = `
            <div class="text-center">
            <img
              style="
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 80%;
              "
              src="img/product-empty.jpg"
              alt="cart empty"
            />
            <h4>No Product</h4>
        </div>
            `;
            productList.append(noProductsHtml);
          }
        },
        error: function () {
          console.log("Error occurred while filtering results!");
        },
      });
    });

    // Function to retrieve selected values based on the provided selector
    function getSelectedValues(selector) {
      var selectedValues = [];
      $(selector).each(function () {
        selectedValues.push($(this).val());
      });
      return selectedValues;
    }
  });
</script>

