

<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:27:15 GMT -->
<head>
    <style>
        #user-profile-container{
            padding: 5%;
            
        }
    </style>
</head>

<% var username=username || '' ; %>
<% var Wishlistcount=Wishlistcount|| 0 ; %>
<% var cartCount=cartCount|| 0 ; %>
<% if (username) { %>
    <%-include('../partials/userheader',{username,Wishlistcount,cartCount})-%>

 <% }else{%>
    <%-include('../partials/userheader')-%>
<% } %>
 
  



<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__option">
        <div class="offcanvas__links">
            <% var username=username || '' ; %>
            <% if (!username) { %>
                <a href="/login">Login</a>
                <a href="/signup">Sign up</a>
            <% } %>
        </div>
     
        
    </div>
    <div class="offcanvas__nav__option">
  
        
        <a href="/wishlist"><img src="/img/icon/heart.png" alt="">
            <% if (username&&wishlistcount) { %>
                <div class="tip">
              <span id="wishlistCount">
                <%= wishlistcount %>
              </span>  
              </div>
              <% } %>
        <a href="/shoppingcart"><img src="/img/icon/cart.png" alt=""> 
            <% if (username&&cartCount) { %>
                <div class="tip">
              <span id="cartCount">
                <%= cartCount %>
              </span>  
              </div>
              <% } %>
             
        </a>
     
        <div>
           
            
        </div>
       
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__text">
        <p>Free shipping, 30-day return or refund guarantee.</p>
    </div>
</div>
<!-- Offcanvas Menu End -->

   
<section class="pt-150 pb-150">
    <div class="container" id="user-profile-container">
        <div class="row">
            <div class="col-lg-10 m-auto">
                <div class="row">
                    <div class="col-md-4">
                        <div class="dashboard-menu">
                            <ul class="nav flex-column" role="tablist">
                                <!-- <li class="nav-item">
                                    <a class="nav-link active" id="dashboard-tab" data-bs-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="false"><i class="fi-rs-settings-sliders mr-10"></i>Dashboard</a>
                                </li> -->
                                <li class="nav-item">
                                    <a class="nav-link active" id="orders-tab" data-bs-toggle="tab"
                                        href="#orders" role="tab" aria-controls="orders"
                                        aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                </li>
                             
                                <li class="nav-item">
                                    <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#Address"
                                        role="tab" aria-controls="address" aria-selected="true"><i
                                            class="fi-rs-marker mr-10"></i>My Address</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab"
                                        href="#account-detail" role="tab" aria-controls="account-detail"
                                        aria-selected="true"><i class="fi-rs-user mr-10"></i>Account details</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="track-wallet-tab" data-bs-toggle="tab"
                                        href="#track-wallet" role="tab" aria-controls="account-detail"
                                        aria-selected="true"><i class="fi-rs-shopping-cart mr-10"></i>Wallet</a>
                                </li>
                               
                                <li class="nav-item">
                                    <a class="nav-link" href="/logout"> <i class="fi-rs-sign-out mr-10"></i>Logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content dashboard-content">
                          






                            <div class="tab-pane fade active show" id="orders"
                            role="tabpanel" aria-labelledby="orders-tab">
                            <div class="card ">
                                <div class="card-header">
                                    <h5 class="mb-0">Your Orders</h5>
                                </div>

                                <% if (orders.length!=0) { %>
                                    <div class="card-body">
                                        <div class="table-responsive">


                                            <table class="table">

                                                <thead>

                                                    <tr>
                                                        <th>Date</th>
                                                        <!-- <th>address</th> -->
                                                        <th>Total</th>
                                                        <th>PaymentMethod</th>
                                                        <th>OrderStatus</th>
                                                        <th>Action</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% orders.forEach(order=>{%>
                                                        <tr>
                                                            <td>
                                                                <%=order.orderDate%>
                                                            </td>

                                                            <td>
                                                                <%=order.totalAmount %>
                                                            </td>
                                                            <td>
                                                                <%=order.paymentMethod%>
                                                            </td>
                                                            <td>
                                                                <% if(order.orderStatus=='placed'
                                                                    ) {%>
                                                                    <span
                                                                        class="badge rounded-pill alert-success text-success">
                                                                        <%=order.orderStatus
                                                                            %>
                                                                    </span>
                                                                    <% }else if
                                                                        (order.orderStatus=='Cancelled'
                                                                        ) { %>
                                                                        <span
                                                                            class="badge rounded-pill alert-danger text-danger">
                                                                            <%= order.orderStatus
                                                                                %>
                                                                        </span>
                                                                        <% }else{ %>
                                                                            <span
                                                                                class="badge rounded-pill alert-warning text-warning">
                                                                                <%= order.orderStatus
                                                                                    %>
                                                                            </span>

                                                                            <% } %>
                                                            </td>
                                                            <td><a href="/orderdetailsOf-user/<%=order._id%>"
                                                                    class="btn-small d-block">View</a>
                                                            </td>
                                                        </tr>

                                                        <% }) %>
                                                </tbody>

                                            </table>
                                        </div>
                                    </div>

                                    <% } else{ %>

                                        <h6>No orders</h6>
                                        <% } %>
                                 </div>
                              </div>




                            <div class="tab-pane fade" id="Address" role="tabpanel"
                            
                                aria-labelledby="address-tab">
                                <button type="button" class="btn primary-btn mb-4 " data-toggle="modal" data-target="#exampleModal">
                                    Add new address
                                </button>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-lg-10 ">
                                            <div class="card mb-4 mb-lg-1">
                                                <div class="card-header">
                                                    <h5 class="mb-0">Billing Address</h5>
                                                </div>
                                                <%address.forEach(function(address) { %>
                                                    <% if(address.status==true){ %>
                                                    <%let i=0 %>
                                                <div class="card-body">
                                                    <div class="for m-check col-md-10">                               
            
                                                                <br>
                        
                                                                    <label class="form-check-label" for="address1">
                                                                        <address>
                                                                            <%=address.name%>,<%=address.address %>
                                                                                    ,<%=address.city%>,<%=address.state %>
                                                                                            <br>
                                                                                            <%=address.phone %>
                                                                        </address>
            
                                                                    </label>
            
            
            
                                                               
            
                                                    </div>
                                                    <button onclick="deleteAddress('<%=address._id%>')" class="btn" ><i class="fa fa-trash"></i></button>
                                                </div>
                                                <% i++ %>
                                                <% } %>
                                             <% }) %>
                                            </div>
                                        </div>
                                            
                                    </div>
            
                                   
                            
                                </div>


        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add address</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="myForm">


                    <div class="modal-body">

                
                        <h6 class="checkout__title">Billing Details</h6>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="checkout__input">
                                    <p>Full Name<span>*</span></p>
                                    <input type="text" name="name" id="name">
                                </div>
                            </div>

                        </div>
                        <div class="checkout__input">
                            <p>Address<span>*</span></p>
                            <input type="text" placeholder="Street Address"
                                class="checkout__input__add" name="address" id="address">

                        </div>
                        <div class="checkout__input">
                            <p>Town/City<span>*</span></p>
                            <input type="text" name="city" id="city">
                        </div>
                        <div class="checkout__input">
                            <p>State<span>*</span></p>
                            <input type="text" name="state" id="state">
                        </div>
                        <div class="checkout__input">
                            <p>Postcode / ZIP<span>*</span></p>
                            <input type="text" name="postcode" id="postcode">
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Phone<span>*</span></p>
                                    <input type="text" name="phonenumber" id="phonenumber">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Email<span>*</span></p>
                                    <input type="text" name="email" id="email">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="site-btn btn  ">Add</button>
                    </div>

                </form>
            </div>
        </div>
    </div>



                            </div>
                            <div class="tab-pane fade" id="account-detail" role="tabpanel"
                                aria-labelledby="account-detail-tab">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Account Details</h5>
                                    </div>
                                    <div class="card-body">
                                        
                                      <td>
                                                <%=user.name %>
                                            </td><br>
                                            <td>
                                                <%=user.phonenumber %>
                                            </td><br>
                                            <td>
                                                <%=user.email%>
                                            </td> <br>
                                        
                                    
                                        <a href="#" class="btn-small">Edit</a>
                                    </div>





                                    <!-- <div class="card-body">
                                        
                                        <form method="post" name="enq">
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label>First Name <span class="required">*</span></label>
                                                    <input required="" class="form-control square" name="name"
                                                        type="text">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label>Last Name <span class="required">*</span></label>
                                                    <input required="" class="form-control square" name="phone">
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label>Display Name <span class="required">*</span></label>
                                                    <input required="" class="form-control square" name="dname"
                                                        type="text">
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label>Email Address <span class="required">*</span></label>
                                                    <input required="" class="form-control square" name="email"
                                                        type="email">
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label>Current Password <span
                                                            class="required">*</span></label>
                                                    <input required="" class="form-control square"
                                                        name="password" type="password">
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label>New Password <span class="required">*</span></label>
                                                    <input required="" class="form-control square"
                                                        name="npassword" type="password">
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label>Confirm Password <span
                                                            class="required">*</span></label>
                                                    <input required="" class="form-control square"
                                                        name="cpassword" type="password">
                                                </div>
                                                <div class="col-md-12">
                                                    <button type="submit" class="btn btn-fill-out submit"
                                                        name="submit" value="Submit">Save</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div> -->
                                </div>
                            </div>

                            <div class="tab-pane fade" id="track-wallet" role="tabpanel"
                                                    aria-labelledby="account-detail-tab">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <h5>Wallet</h5>
                                                        </div>
                                                        <div class="card-body">

                                                            <td>
                                                                <p> <strong>wallet balance:</strong> <%= walletBalance %></p>
                                                            </td>

                                                         
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>

    </main>
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/waypoints.js"></script>
    <script src="assets/js/plugins/counterup.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/images-loaded.js"></script>
    <script src="assets/js/plugins/isotope.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="assets/js/plugins/jquery.theia.sticky.js"></script>
    <!-- Template  JS -->
    <script src="assets/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <%-include('../partials/userfooter')-%>



<script>
           $(document).ready(function () {
                $('#myForm').submit(function (e) {
                    console.log("aaaa");
                    e.preventDefault(); // Prevent the form from submitting through the default action

                    // Collect the form data
                    var formData = {
                        name: $('#name').val(),
                        address: $('#address').val(),
                        city: $('#city').val(),
                        state: $('#state').val(),
                        postcode: $('#postcode').val(),
                        phonenumber: $('#phonenumber').val(),
                        email: $('#email').val()
                    };
                    console.log("bbbb");
                    console.log(address);
                    console.log(name);
                    console.log("cccc");

                    // Send the data using AJAX
                    $.ajax({
                        type: 'POST', // Change the type to your desired method (e.g., POST, GET, etc.)
                        url: '/addAddress', // Replace with the URL where you want to send the form data
                        data: formData,
                        success: function (response) {
                            console.log("bbb");
                            Swal.fire({
                                position: 'center',
                                icon: 'success',
                                title: 'Address added to Successfully',
                                showConfirmButton: false,
                                timer: 1600
                            })
                                .then(() => {
                                    location.reload()
                                })
                        },
                        error: function (xhr, status, error) {
                            // Handle the error response
                            console.error(xhr.responseText);
                        }
                    });
                });
            });

        function deleteAddress(addressId) {
            console.log("yyyyyyyyy");
            console.log(addressId);
          const url2 = `/deleteaddress/${addressId}`;
          Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "ok",
          }).then(async (result) => {
            if (result.isConfirmed) {
              try {
                const response = await fetch(url2, {
                  method: "PUT",
                  headers: {
                    "Content-Type": "application/json",
                  },
                });
                console.log(response);
                if(response.status){
                Swal.fire("deleted!", "Address has been deleted.", "success").then(
                  (res) => {
                    window.location.reload();
                  }
                );
                }
              } catch (error) {
                console.error(`${error.message}`);
              }
            }
          });
        }
 


</script> 